.banner{
    height: 90px;
    width: 100%;
    height: fit-content;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 0;
    padding-left: 120px;
    background-color: rgb(131, 120, 118);
    
}