.detail_product{
    margin-top: 50px;
    color: #4d4c4c;
}

.toggle-nav{
    margin-top: 70px;
}

.tab-content{
    margin-top: 20px;
}
.nav-link{
    color: #9f9d24;
}
.nav-link:hover{
    color: #4d4c4c;
}