.list-item__header{
    margin-top: 40px;
    text-align: left;
    margin-bottom: 60px;
    padding-top: 10px;
    padding-left: 0px;
    color:black;
    padding-right: 10px;
    padding-bottom: 3px;
    border-bottom: 3px solid #707070;
    width: fit-content;
}
.my-body{
    width: 86%;
    margin: auto;
}