.custom-link {
    transition: all 0.5s;
    color: #336cc0;
    font-weight: 450;
}
.custom-link:hover{
    color: tomato;
    letter-spacing: 2px;
    cursor: pointer;
}
.detail_product_admin{
    font-size: 16px;
    color: #4d4c4c;
}
.custom {
    width: 100px;
}
.thead-success{
    background-color: #4369d7;
    color: white;
}
.btn-outline-info{
    width: 20% !important;
    font-size: 20px;
    font-family: serif;
    font-weight: bolder;
    margin-left: 75%;
}
.workplace_display{
    height: 80vh !important;
}
.workplace_display tr th{
    background-color: forestgreen;
    color: white;
}
.xemchitietdonhang{
    background: forestgreen !important;
    color: white;
    font-family: serif;
    font-weight: bolder;
    justify-content: center;
}
.xemchitietdonhang .modal-title{
    margin: 0 auto;
    margin-left: 35%;
}
.modal-header .close{
    color: white;
    background: red !important;
    border-radius: 50%;
    height: 40px;
    margin: 0 auto;
    padding: 0 12px;
    margin-right: -10px;
}